<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cumulonimbus.pressurenetsdk"
    android:versionCode="1"
    android:versionName="1.0" >
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name=".CbService"
            android:enabled="true" />
    </application>

</manifest>